* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f9;
    color: #111827;
    padding-bottom: 90px;
}


/* =========================
   HEADER
========================= */

.top-header {
    height: 72px;
    background: white;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 35px;

    position: sticky;
    top: 0;
    z-index: 100;
}

.brand {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -1.5px;

    background: linear-gradient(
        90deg,
        #7c3aed,
        #ec4899,
        #f97316
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.header-icons {
    display: flex;
    gap: 10px;
}

.icon-btn {
    width: 43px;
    height: 43px;

    border: none;
    border-radius: 14px;

    background: #f4f4f6;

    font-size: 19px;

    cursor: pointer;

    transition: .2s;
}

.icon-btn:hover {
    background: #e9e9ed;
    transform: translateY(-2px);
}


/* =========================
   MAIN
========================= */

.main-container {
    width: min(1100px, 100%);
    margin: auto;

    display: grid;

    grid-template-columns:
        minmax(0, 650px)
        300px;

    gap: 35px;

    padding: 25px 15px;
}


/* =========================
   STORIES
========================= */

.stories-section {
    grid-column: 1;
    background: white;

    border: 1px solid #e5e7eb;

    border-radius: 20px;

    padding: 18px;

    margin-bottom: 20px;
}

.stories {
    display: flex;
    gap: 20px;

    overflow-x: auto;

    scrollbar-width: none;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story-item {
    min-width: 70px;

    text-align: center;

    font-size: 12px;
    font-weight: 600;

    color: #374151;
}

.story-image {
    width: 64px;
    height: 64px;

    margin: auto;
    margin-bottom: 7px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 22px;
    font-weight: 800;

    border: 3px solid white;

    background:
        linear-gradient(
            135deg,
            #7c3aed,
            #ec4899,
            #f97316
        );

    outline: 2px solid #ec4899;
}

.your-story {
    background: #111827;
    outline: 2px solid #111827;
}


/* =========================
   POSTS
========================= */

.feed {
    grid-column: 1;
}

.post {
    background: white;

    border: 1px solid #e5e7eb;

    border-radius: 20px;

    overflow: hidden;

    margin-bottom: 25px;
}


/* POST HEADER */

.post-header {
    height: 70px;

    padding: 12px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 11px;
}

.user-avatar {
    width: 43px;
    height: 43px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-weight: 800;
    font-size: 18px;

    background:
        linear-gradient(
            135deg,
            #8b5cf6,
            #ec4899,
            #f97316
        );
}

.avatar-blue {
    background:
        linear-gradient(
            135deg,
            #0ea5e9,
            #6366f1
        );
}

.user-info strong {
    display: block;

    font-size: 14px;
}

.user-info small {
    display: block;

    color: #6b7280;

    font-size: 12px;

    margin-top: 3px;
}

.follow-btn {
    border: none;

    background: #111827;

    color: white;

    padding: 8px 15px;

    border-radius: 10px;

    font-size: 12px;
    font-weight: 700;

    cursor: pointer;
}


/* POST MEDIA */

.post-media {
    aspect-ratio: 1 / 1;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    position: relative;

    color: white;

    overflow: hidden;
}

.media-one {
    background:
        radial-gradient(
            circle at 30% 20%,
            #ec4899,
            transparent 30%
        ),
        linear-gradient(
            135deg,
            #111827,
            #312e81,
            #be185d
        );
}

.media-two {
    background:
        linear-gradient(
            135deg,
            #0f172a,
            #164e63,
            #0e7490
        );
}

.media-logo {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -2px;
}

.post-media p {
    margin-top: 10px;

    font-size: 14px;

    opacity: .9;
}

.reels-title {
    font-size: 55px;
    font-weight: 900;
}

.play-button {
    width: 60px;
    height: 60px;

    border-radius: 50%;

    background: rgba(255,255,255,.18);

    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    font-size: 22px;
}


/* =========================
   ACTIONS
========================= */

.post-actions {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 12px 15px 5px;
}

.left-actions {
    display: flex;
    gap: 5px;
}

.action-btn {
    width: 42px;
    height: 42px;

    border: none;

    background: transparent;

    border-radius: 12px;

    font-size: 22px;

    cursor: pointer;

    transition: .2s;
}

.action-btn:hover {
    background: #f4f4f6;
}

.like-btn.liked {
    color: #ef4444;
}


/* =========================
   CONTENT
========================= */

.post-content {
    padding: 0 16px 18px;
}

.likes {
    font-size: 14px;
    font-weight: 800;

    margin-bottom: 8px;
}

.caption {
    font-size: 14px;

    line-height: 1.5;
}

.view-comments {
    margin-top: 9px;

    color: #6b7280;

    font-size: 13px;

    cursor: pointer;
}


/* =========================
   SIDEBAR
========================= */

.right-sidebar {
    grid-column: 2;

    padding-top: 10px;

    position: sticky;
    top: 95px;

    height: max-content;
}

.profile-card {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 28px;
}

.profile-left {
    display: flex;
    align-items: center;

    gap: 12px;
}

.profile-avatar {
    width: 52px;
    height: 52px;

    border-radius: 50%;

    background: #111827;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 900;
}

.profile-card strong,
.suggestion strong {
    display: block;

    font-size: 13px;
}

.profile-card small,
.suggestion small {
    display: block;

    color: #6b7280;

    font-size: 11px;

    margin-top: 3px;
}

.switch-btn {
    border: none;

    background: transparent;

    color: #6366f1;

    font-weight: 800;

    font-size: 12px;

    cursor: pointer;
}

.suggest-header {
    display: flex;

    justify-content: space-between;

    margin-bottom: 18px;

    color: #6b7280;

    font-size: 13px;

    font-weight: 800;
}

.suggest-header button {
    border: none;

    background: transparent;

    font-weight: 800;

    font-size: 12px;

    cursor: pointer;
}

.suggestion {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 17px;
}

.suggest-user {
    display: flex;

    align-items: center;

    gap: 10px;
}

.suggest-avatar {
    width: 39px;
    height: 39px;

    border-radius: 50%;

    background: #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 800;
}

.suggestion > button {
    border: none;

    background: transparent;

    color: #6366f1;

    font-weight: 800;

    font-size: 12px;

    cursor: pointer;
}


/* =========================
   BOTTOM NAV
========================= */

.bottom-nav {
    position: fixed;

    bottom: 0;
    left: 0;
    right: 0;

    height: 70px;

    background: rgba(255,255,255,.96);

    backdrop-filter: blur(15px);

    border-top: 1px solid #e5e7eb;

    display: flex;

    justify-content: center;

    gap: 60px;

    align-items: center;

    z-index: 200;
}

.nav-btn {
    border: none;

    background: transparent;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 3px;

    font-size: 20px;

    cursor: pointer;

    color: #6b7280;
}

.nav-btn span {
    font-size: 10px;
}

.nav-btn.active {
    color: #111827;
}


/* =========================
   MODAL
========================= */

.modal {
    display: none;

    position: fixed;

    inset: 0;

    background: rgba(0,0,0,.6);

    align-items: center;
    justify-content: center;

    padding: 20px;

    z-index: 500;
}

.modal.show {
    display: flex;
}

.modal-box {
    width: min(430px, 100%);

    background: white;

    border-radius: 22px;

    padding: 22px;
}

.modal-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 18px;
}

.modal-header h2 {
    font-size: 21px;
}

.modal-header button {
    border: none;

    background: #f3f4f6;

    width: 36px;
    height: 36px;

    border-radius: 50%;

    cursor: pointer;
}

#postText {
    width: 100%;

    min-height: 130px;

    resize: vertical;

    border: 1px solid #e5e7eb;

    border-radius: 14px;

    padding: 13px;

    font-family: inherit;

    font-size: 14px;

    outline: none;
}

.publish-btn {
    width: 100%;

    margin-top: 14px;

    padding: 13px;

    border: none;

    border-radius: 13px;

    background: #111827;

    color: white;

    font-weight: 800;

    cursor: pointer;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 850px) {

    .main-container {
        display: block;

        max-width: 650px;
    }

    .right-sidebar {
        display: none;
    }

}

@media (max-width: 600px) {

    .top-header {
        padding: 0 15px;
    }

    .brand {
        font-size: 25px;
    }

    .main-container {
        padding: 10px 0;
    }

    .stories-section {
        border-radius: 0;

        border-left: none;
        border-right: none;
    }

    .post {
        border-radius: 0;

        border-left: none;
        border-right: none;
    }

    .bottom-nav {
        gap: 25px;
    }

}
